* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 70%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#slcet {
  width: 10%;
  padding: 12px 20px 12px 40px;
}
#phone {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 20.5%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#ord {
  text-decoration: none;
  border: 2px solid #ddd;
  padding: 10px 10px 10px 10px;
  color: black;
  background-color: rgb(137, 137, 138);
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  font-weight: bold;
}
